body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media (min-width: 600px) {
  .image-gallery-image {
    text-align: center;
  }

  .image-gallery-slide img {
    width: auto;
    height: 800px;
  }
}